/** Button */
QPushButton {
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $white;
    color: $text-color;
    padding: 4px;
    min-width: 80px;
}

QPushButton:hover {
    border-color: darken($gray-lighter, 5%);
    background-color: $gray-lighter;
}

QPushButton:pressed {
    border-color: darken($gray-lighter, 5%);
    background-color: $border-color;
}

QPushButton:disabled {
    border-color: darken($gray-lighter, 10%);
    background-color: darken($gray-lighter, 5%);
    color: lighten($text-color, 25%);
}

QPushButton#primary {
    border-color: darken($brand-primary, 5%);
    background-color: $brand-primary;
    color: lighten($brand-primary, 50%);
}

QPushButton#primary:hover {
    background-color: darken($brand-primary, 5%);
        border-color: darken($brand-primary, 10%);
}

QPushButton#primary:pressed {
    background-color: darken($brand-primary, 10%);
        border-color: darken($brand-primary, 15%);
}

/** Flat button */
QPushButton[flat="true"]:pressed {
    background: none;
    border: 1px solid $border-color;
}

/** Toolbuttons */
QToolButton {
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $white;
    color: $text-color;
}

QToolButton:hover {
    border-color: darken($gray-lighter, 5%);
    background-color: $gray-lighter;
}

QToolButton:pressed {
    border-color: darken($gray-lighter, 5%);
    background-color: $border-color;
}
